<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">

<head>
	<title>IFPB³ | Ações</title>
</head>
<body>
	<main>
		<section layout:fragment="conteudo">
			<header class="panel panel-default panel-heading">
				<div class="header-row">
					<img src="/css/fig01.png">
				</div>
				<div class="header-row">
					<h4 >Nova ação</h4>
				</div>
				<div class="header-row">
					<a  href="/cadastro_acoes">Voltar para pesquisa</a>
				</div>
			</header>
			<div class="content__box">
				<form class="form-container" method="POST" action="/cadastro_acoes">
					<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
						<span th:text="${mensagem}">Ação salva com sucesso</span>
					</div>
					<div class="form-container__row">
						<label for="tiker">Papel(TIKER):</label>
						<input class="block" id="tiker" type="text" name="tiker" required placeholder="Digite o papel..." />

						<label for="empresa">Empresa:</label>
						<input class="block" id="empresa" type="text" name="empresa" required
							placeholder="Digite o nome de empresa..." />
					</div>

					<div class="form-container__setor">
							<label class="input-box">Tipo da Ação:</label>
							<select class="custom-select" name="tipoConta">
								<option th:each="conta : ${todosTipoConta}" th:value="${conta}" th:text="${conta.descricao}">
								</option>
							</select>
					</div>

					<div class="form-container__setor">
						<label class="input-box">Setor:</label>
						<select class="custom-select" name="setor">
							<option th:each="setor : ${todosSetores}" th:value="${setor}" th:text="${setor.descricao}"></option>
						</select>
					</div>

					<div class="form-container__subsetor">
						<label>Subsetor:</label>
						<input type="text" name="subSetor" required placeholder="Digite um subsetor..." />
					</div>



					<!-- <div class="form-container__cotacoes">
							<h2>Cotações:</h2>
							<div class="form-container__cotacoes_box">
								<div class="form-container__cotacoes__abertura-fechamento">
									<label >Valor de Abertura:</label>
									<input class="block"type="text" required placeholder="Digite um  valor..."/>
								</div>
								<div class="form-container__cotacoes__abertura-fechamento">
									<label >Valor de Fechamento:</label>
									<input class="block" type="text" required placeholder="Digite um valor..."/>
								</div>
							</div>
						</div>-->

					<div class="form-container__button">
						<button type="submit"> Cadastrar</button>
					</div>
				</form>
			</div>
			<footer>
				<div class="contato">
					<p>Contato: contato@contatoIFPB3FICTÍCIO.com</p>
					<p>Atendimento ao cliente: (xx) xx xxxx-xxxx</p>
					<p>Funcionamento segunda à sexta de 9:00hrs ás 18:00hrs</p>
				</div>
				<div class="logo">
					<img src="/css/fig01.png">
					<p>Todos os direitos reservados ao IFPB3 &copy;</p>
				</div>
				<div class="redes-sociais">
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-instagram"></a>
					<a href="#" class="fa fa-linkedin"></a>
					<a href="#" class="fa fa-rss"></a>
				</div>
			</footer>
		</section>
	</main>
</body>
</html>