<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{LayoutPadrao}">
<head>
    <meta charset="UTF-8">
    <title>IFPB³ | Balanço</title>
</head>
<body>
<main>
    <section layout:fragment="conteudo">
            <header class="panel panel-default panel-heading">
                <div class="header-first__line">
                    <div class="header-row">
                        <img src="/css/fig01.png">
                    </div>
                    <div class="header-row">
                        <h4>Balanço da empresa &nbsp<div></div></h4>
                    </div>
                    <div class="header-row">

                    </div>
                </div>
                <nav>
                    <a href="/cadastro_acoes" class="header-row">
                        <div  >PESQUISA</div>
                    </a>
                    <a href="/cadastro_acoes/novo" class="header-row">
                        <div >CADASTRO</div>
                    </a>

                </nav>
            </header>

            <div class="content__box ">
                <div class="cotation-container" >
                    <div class="cotation-container__left">
                        <form class="cotation-container__form" method="POST" th:action="@{/balanco}">
                            <div class="cotation-container__form-row">
                                <label>Receita Liquida <input id="receitaLiquida" type="text" name="receitaLiquida"></label>
                                <label>Custos <input  id="custos" type="text" name="custos"></label>
                            </div>

                            <div class="cotation-container__form-row">
                                <label>Lucro Bruto<input  id="lucroBruto" type="text" name="lucroBruto"></label>
                                <label>Lucro Liquido<input  id="lucroLiquido" type="text" name="lucroLiquido"></label>
                            </div>

                            <div class="cotation-container__form-row">
                                <label>Despesas Operacionais<input  id="despesaOperacional" type="text" name="despesaOperacional"></label>
                                <label>EBITIDA<input  id="ebitida" type="text" name="ebitida"></label>
                            </div>
                           <input  th:value="${acao.getCodigo()}" id="acaoID" type="hidden" name="acaoID">
                            <div class="cotation-container__form-row-button-box">
                                <button type="submit">criar balanço</button>

                            </div>
                        </form>
                    </div>
                    <div class="border-container" id="height300">
                        <div class="content-box__content" >
                            <table class="table-container__table" id="width100">
                                <thead>
                                <tr>
                                    <th>Receita Liquida</th>
                                    <th>Custos</th>
                                    <th>Lucro Bruto</th>
                                    <th>Lucro Liquido</th>
                                    <th>Despesas Operacionais</th>
                                    <th>EBITIDA</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-row" th:each="balanco : ${acao.getBalancos()}">
                                    <td class="text-center" th:text="${balanco.getReceitaLiquida()}"></td>
                                    <td class="text-center" th:text="${balanco.getCustos()}"></td>
                                    <td class="text-center" th:text="${balanco.getLucroBruto()}"></td>
                                    <td class="text-center" th:text="${balanco.getLucroLiquido()}"></td>
                                    <td class="text-center" th:text="${balanco.getDespesaOperacional()}"></td>
                                    <td class="text-center" th:text="${balanco.getEbitida()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="contato">
                    <p>Contato: contato@contatoIFPB3FICTÍCIO.com</p>
                    <p>Atendimento ao cliente: (xx) xx xxxx-xxxx</p>
                    <p>Funcionamento segunda à sexta de 9:00hrs ás 18:00hrs</p>
                </div>
                <div class="logo">
                    <img src="/css/fig01.png">
                    <p>Todos os direitos reservados ao IFPB3 &copy;</p>
                </div>
                <div class="redes-sociais">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-rss"></a>
                </div>
            </footer>
        </section>
    </main>
</body>
</html>